@model BooksStore.Business.Models.BookModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BookModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Title" id="Title" class="form-control" value="@ViewBag.book.Title" />
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="ISBN" id="ISBN" class="form-control" value="@ViewBag.book.ISBN" />
                @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Synopsis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Synopsis" id="Synopsis" class="form-control" value="@ViewBag.book.Synopsis" />
                @Html.ValidationMessageFor(model => model.Synopsis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Image" id="Image" class="form-control" value="@ViewBag.book.Image" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Price" id="Price" class="form-control" value="@ViewBag.book.Price" />
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Genres</label><br>
            <div class="col-md-10">
                @foreach (var genre in ViewBag.Genres)
                {
                    ViewBag.selected = false;
                    foreach (var selectedGenre in ViewBag.selectedGenres)
                    {
                        if (genre.Name == selectedGenre)
                        {
                            ViewBag.selected = true;
                        }
                    }
                    if (ViewBag.selected)
                    {
                        <input type="checkbox" id="@genre.Name" name="@genre.Name" text="@genre.Name" checked>
                        <label for=@genre.Name>@genre.Name</label><br>
                    }
                    else
                    {
                        <input type="checkbox" id="@genre.Name" name="@genre.Name" text="@genre.Name">
                        <label for=@genre.Name>@genre.Name</label><br>
                    }
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.book.Status)
                {
                    <input type="checkbox" id="Status" name="Status" checked>
                } else
                {
                    <input type="checkbox" id="Status" name="Status">
                }
                <label for="Status">Available</label><br>
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
